<div class="background">
  <div class="wrapper">
    <h2 class="text">Login</h2>
    <h6 class="text">Please enter your email and password</h6>
    <div class="centered">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="enter your email">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">
            *Email Id is required
          </span>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="enter your password">
          <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
            *Password Id is required
          </span>
        </div>

        <button type="submit" [disabled]="!loginForm.valid" class="btn btn1">Login</button>
      </form>
      <div class="row">
        <div class="col-5">
          <hr>
        </div>
        <div class="col-2">
          <p class="or">or</p>
        </div>
        <div class="col-5">
          <hr>
        </div>
      </div>

      <a (click)="onClick()" class="links">New user? Click to signup!</a>
    </div>
  </div>
</div>